# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# 2-space indentation
[*.{jsx,js,editorconfig}]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
